<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group">

    <label for="firstname">Name:</label>
    <input type="text" class="form-control" id="name" formControlName="name"
           placeholder="Enter first name"
           [ngClass]="{'is-invalid': form.get('name')?.invalid && form.get('name')?.touched}">
    <div *ngIf="form.get('name')?.invalid && form.get('name')?.touched" class="invalid-feedback">
      Name is required and must be at least 3 characters long.
    </div>

    <label for="surname">Surname:</label>
    <input type="text" class="form-control" id="surname" formControlName="surname"
           placeholder="Enter surname"
           [ngClass]="{'is-invalid': form.get('surname')?.invalid && form.get('surname')?.touched}">
    <div *ngIf="form.get('surname')?.invalid && form.get('surname')?.touched" class="invalid-feedback">
      Surname is required and must be at least 3 characters long.
    </div>

  </div>
  <button type="submit" [disabled]="form.invalid" class="btn btn-primary">Ok</button>
  <button type="button" class="btn btn-success" (click)="onCancel()">Cancel</button>
</form>